@charset "UTF-8";
body {
    background-color: burlywood;
}

header#home-header ul {
    list-style-type: none;
}

header#home-header ul li{
    display: inline;
}

header#home-header ul li {
    vertical-align: baseline ;
}